<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head') %>
</head>

<body class="with_nav">
    <%- include ('../partials/nav') %>
    <main>
        <h1 class="profile"> Bekijk jouw matches!</h1>
        <section>
          <% if (allUsers) {allUsers.forEach(function(user) { %>
            <ul class="matchlist">
              <li><img class="match-image" src="<%=user.photo%>" alt="<%=user.name%>"/></li>
              <div class="match-block-text">
              <li><h3 class="match-name"><%=user.name%></h3></li>
            </ul>
          <% })} %>

          <h2 class="profile"> Jouw gesprekken:</h1>
        </section>
    </main>
    <%- include ('../partials/footer') %>
</body>

</html>