<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head') %>
</head>

<body class="with_nav">
    <%- include ('../partials/nav') %>
    <main>
        <h1 class="profile"> Jouw potentiële matches:</h1>
        <section>
            <% if(match) {%> 
            <article>
                <a href="#">
                    <h3><%= match.name %></h3>
                </a>
                <img src="<%= match.photo %>" alt="profielimages">
                <li><strong>Leeftijd:</strong><%= match.age %> jaar </li>
                <li><strong>Sport:</strong><%= match.hobby %></li>
                <form action="/match" method="post">
                    <button name="like" type="submit">Like!</button>
                    <button name="dislike" type="submit">Nope!</button>
                </form>
            </article>
            <% } else {%>
                <p>No matches available</p>
            <% } %>
        </section>
    </main>
    <%- include ('../partials/footer') %>
</body>

</html>