<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head') %>
    <link rel="stylesheet" href="css/chat.css">
</head>

<body>

    <div class="heading">
      <% if (user) { %>
            <h1>Hi <%=user%></h1>
              <img
                class="match-image profile-link"
                src="https://avatars1.githubusercontent.com/u/11157347?s=460&v=4"
                alt="<%=user%>"
              />
        <% } %>
    </div>

        <div class="all-matches-container">
                <% if (newMatches.length > 0) { %>
                <h2>
                  New matches <span class="number-of-matches"><%=newMatches.length%></span>
                </h2>
            
                <ul class="new-match-container">
                  <% if (newMatches) { newMatches.forEach(function(match) { %>
                  <li
                    class="new-match-container-item"
                    data-room="<%=match.roomID%>"
                    data-img="<%=match.herImage%>"
                    data-name="<%=match.name%>"
                  >
                    <a href="chat/<%=match.roomID%>">
                      <img
                        class="new-match-image"
                        src="<%=match.herImage%>"
                        alt="<%=match.name%>"
                      />
                      <p><%=match.name%></p>
                    </a>
                  </li>
                  <% })} %>
                </ul>
                <% } %>
                <h2>Messages</h2>
                <ul class="match-block-container">
                  <% if (oldMatches) { oldMatches.forEach(function(match) { %>
                  <li
                    class="match-block-link"
                    data-room="<%=match.roomID%>"
                    data-img="<%=match.herImage%>"
                    data-name="<%=match.name%>"
                  >
                    <a class="match-block" href="chat/<%=match.roomID%>">
                      <img
                        class="match-image"
                        src="<%=match.herImage%>"
                        alt="<%=match.name%>"
                      />
                      <div class="match-block-text">
                        <h3 class="match-name"><%=match.name%></h3>
                        <p class="last-message"><%=match.lastMessage%></p>
                      </div>
                    </a>
                  </li>
                  <% })} %>
                </ul>
              </div>

</body>

</html>