<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head') %>
</head>

<body id="match_page" class="with_nav">
    <%- include ('../partials/nav') %>
    <main>
        <h1> Heart Beats</h1>
        <section>
            <% if(match.length>0 || match.name) {%> 
            <article>
                <img src="<%= match.photo %>" alt="profielimages">
                 <li class="info_match"> <strong><%= match.name %></strong> <%= match.age %> jaar </li>
                <form class="buttons_swipe" action="/match" method="post">
                    <button class="dislike" name="dislike" type="submit"><span class="material-icons">close</span></button>
                    <button class="like" name="like" type="submit"><span class="material-icons">favorite_border</span></button>
                </form>
            </article>
            <% } else {%>
                <p>No matches available</p>
            <% } %>
        </section>
    </main>
    <%- include ('../partials/footer') %>
</body>

</html>