<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('../partials/head') %>
    <link rel="stylesheet" href="css/chat.css" />
  </head>

<body class="with_nav">
    <%- include ('../partials/nav') %>
        <section>
            <% if (newMatches.length > 0) { %>
                <h2>New matches
                  <span class="number-of-matches"><%=newMatches.length%></span>
                </h2>
              <% } %>

          <ul class="new-match-container">
              <% if (newMatches) { newMatches.forEach(function(match) { %>
              <li class="new-match-container-item">
                <a href="chat/<%=match._id%>">
                  <img
                    class="new-match-image"
                    src="<%=match.photo%>"
                    alt="<%=match.name%>"
                  />
                  <p><%=match.name%></p>
                </a>
              </li>
              <% })} %>
            </ul>

            <h2>Messages</h2>
            <ul class="match-block-container">
              <% if (oldMatches) { oldMatches.forEach(function(match) { %>
              <li class="match-block-link">
              <a class="match-block" href="chat/<%=match._id%>">
                  <img
                    class="match-image"
                    src="<%=match.photo%>"
                    alt="<%=match.name%>"
                  />
                  <div class="match-block-text">
                    <h3 class="match-name"><%=match.name%></h3>
                    <p class="last-message"><%=match.lastMessage%></p>
                  </div>
                </a>
              </li>
              <% })} %>
            </ul>
        </section>
    <%- include ('../partials/footer') %>
</body>

</html>
