<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head') %>
</head>

<body class="with_nav">
    <%- include ('../partials/nav') %>
    <main>
        <section class="login_page">
            <h1>Hello <%= user.name %></h1>
            <p>Update je account.</p>
            <%- include ('../partials/flash') %>
            <% if (user.photo) { %>
                <img class="profilePhoto" src=<%= user.photo %> style="max-height: 200px;">
            <% } %>
            <form action="/users/<%= user._id %>?_method=PUT" method="POST" enctype="multipart/form-data" class="form register_form">
                <input type="text" name="name" placeholder="Name" value="<%= user.name %>">
                <input type="email" name="email" placeholder="Email" value="<%= user.email %>">
                <input type="password" name="password" placeholder="Wachtwoord" id="myInput">
                <label class="container">Laat Wachtwoord zien
                    <input class="mycheckbox"type="checkbox" onclick="myFunction()">
                    <span class="checkmark"></span>
                </label>
                <select class="dropdown" name="gender" value="<%= user.gender %>">
                    <option value="" disabled selected>Geslacht</option>
                    <%
                        let genders = ['Man', 'Vrouw', 'Anders'];
                        genders.map(item => {
                            let selected = item == user.gender ? 'selected' : '';
                            %><option value="<%= item %>" <%= selected %>><%= item %></option><%
                        })
                    %>
                </select>
                <label> Profielfoto<input name="photo" type="file" accept="image/*"> </label> 
                <input type="number" name="age" placeholder="Leeftijd" value="<%= user.age %>">
                <select class="dropdown" name="hobby" value="<%= user.hobby %>">
                    <option value="" disabled selected>Muziek smaak</option>
                    <%
                        let hobbys = ['Funk', 'Pop', 'Hip hop', 'Disco', 'Techno', 'rap', 'RnB'];
                        hobbys.map(item => {
                            let selected = item == user.hobby ? 'selected' : '';
                            %><option value="<%= item %>" <%= selected %>><%= item %></option><%
                        })
                    %>
                </select>
                <select class="dropdown" name="intrested" value="<%= user.intrested %>">
                    <option value="" disabled selected>Geïnteresseerd in geslacht</option>
                    <%
                        let interests = ['Man', 'Vrouw', 'Geen voorkeur'];
                        interests.map(item => {
                            let selected = item == user.intrested ? 'selected' : '';
                            %><option value="<%= item %>" <%= selected %>><%= item %></option><%
                        })
                    %>
                </select>
                <label> Muziek voorkeuren</label> 
                <a id="spotify_connect" href="/spotify/login">Login with spotify</a>
                
                <button type="submit"> opslaan</button>
            </form>
            <section class="section_del_logout">
                <form onclick="confirmation()" class="delete_button" method="POST" action="/users/<%= user._id %>?_method=DELETE">
                    <button type="submit">Delete account</button>
                </form>
                <button class="logout_button">
                    <a href="/users/logout"><i class="material-icons">exit_to_app</i> Uitloggen</a>
                </button>
            </section>
        </section>
    </main>
    <%- include ('../partials/footer') %>
</body>

</html>